@import '~react-redux-spinner/dist/react-redux-spinner.css';

#nprogress .bar {
    background-color: #f4590a;
    z-index: 5000;
}
   
#nprogress .spinner-icon {
    border-top-color: #f4590a;
    border-left-color: #f4590a;
}
   
#nprogress .peg {
    box-shadow: 0 0 10px #f4590a, 0 0 5px #f4590a;
}

.react-toast-notifications__container{
    z-index: 5000 !important;
}